<!-- <button
  type="button"
  class="btn btn-primary button"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Agregar
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ accion | uppercase }} PACIENTE
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="GuardarCambios()">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-regular fa-id-card"></i>
            </span>
            <input
              type="text"
              formControlName="cedula"
              class="form-control"
              placeholder="CEDULA"
              aria-label="CEDULA"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-user"></i>
            </span>
            <input
              type="text"
              formControlName="nombre"
              class="form-control"
              placeholder="NOMBRES"
              aria-label="NOMBRES"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-user"></i>
            </span>
            <input
              type="text"
              formControlName="apellido"
              class="form-control"
              placeholder="APELLIDOS"
              aria-label="APELLIDOS"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-venus-mars"></i>
            </span>
            <input
              type="text"
              formControlName="genero"
              class="form-control"
              placeholder="GENERO"
              aria-label="GENERO"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-phone"></i>
            </span>
            <input
              type="text"
              formControlName="telefono"
              class="form-control"
              placeholder="TELEFONO"
              aria-label="TELEFONO"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-at"></i>
            </span>
            <input
              type="text"
              formControlName="correo"
              class="form-control"
              placeholder="CORREO"
              aria-label="CORREO"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-notes-medical"></i>
            </span>
            <input
              type="text"
              formControlName="historialMedico"
              class="form-control"
              placeholder="HISTORIAL MEDICO"
              aria-label="HISTORIAL MEDICO"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->