<div class="col-2 menu">
    <div class="logo">
      <img
        src="https://w7.pngwing.com/pngs/83/1024/png-transparent-physician-caduceus-as-a-symbol-of-medicine-caduceus-as-a-symbol-of-medicine-healthcare-s-text-logo-medicine-thumbnail.png"
        alt=""
      />
    </div>
    <div class="container sidebar">
      <div class="item rounded" (click)="EnviarAListaPaciente()">
        <div class="icon">
          <i class="fa-solid fa-user-doctor"></i>
        </div>
        <p class="icon-name">Lista de Pacientes</p>
      </div>
      <div class="item rounded" (click)="EnviarAAtencion()">
        <div class="icon">
          <i class="fa-solid fa-user-doctor"></i>
        </div>
        <p class="icon-name">Atención</p>
      </div>
    </div>
  </div>
