.form{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.button{
    height: 40px;
}
i{
    cursor: pointer;
}
.buttonCitaMedica{
    width: 130px;
}
.dropdown-gender{
    width: 10px
}
.doctor-logo{
    font-size: 30px;
}
.doctor-content{
    display: flex;
    justify-content: center;
    align-items: center;
}