.form-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(76, 169, 201);
  }
  form{
    color: white;
    backdrop-filter: blur(10px);
  }
  